---
import Layout from "../layouts/layout.astro";
---

<Layout title="Login">
  <section class="login-container">
    <div class="login-box">

      <form id="login-form">
        <input type="text" id="username" placeholder="Usuário ou Email" required />
        <input type="password" id="password" placeholder="Senha" required />
        <button type="submit">Entrar</button>
      </form>
    </div>
  </section>

  <script>
    const form = document.getElementById("login-form");
    form.addEventListener("submit", (e) => {
      e.preventDefault();
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;

      const admins = JSON.parse(localStorage.getItem("admins")) || [];
      const adminEncontrado = admins.find(a => a.usuario === username && a.senha === password);

      if (adminEncontrado || (username === "admin" && password === "123")) {
        const isPrincipal = (username === "admin" && password === "123");
        localStorage.setItem("admin", JSON.stringify({ usuario: username, principal: isPrincipal }));
        alert("Login como administrador!");
        window.location.href = "/admin";
        return;
      }

      localStorage.setItem("cliente", JSON.stringify({
        username,
        foto: "/images/perfil.png",
        email: username + "@teste.com",
        compras: []
      }));

      alert("Login como cliente!");
      window.location.href = "/";
    });
  </script>
</Layout>