---
import Layout from "../layouts/layout.astro";
import "../styles/perfil.css";
---

<Layout title="Perfil do Cliente">
  <section class="perfil">
    <div class="foto-perfil-container">
      <img id="foto-perfil" alt="" />
      <span id="icone-perfil">👤</span>
    </div>
    <h2 id="nome-usuario"></h2>
    <p id="email"></p>

    <h3>Histórico de Compras</h3>
    <ul id="historico-compras"></ul>

    <button id="logout">Logout</button>
  </section>

  <script>
    const cliente = JSON.parse(localStorage.getItem("cliente"));
    if (cliente) {
      const foto = document.getElementById("foto-perfil");
      const icone = document.getElementById("icone-perfil");
      if (cliente.foto) 
      {
        foto.src = cliente.foto;
        foto.onload = () => 
        {
          foto.style.display = "block";
          icone.style.display = "none";
        };
        foto.onerror = () => 
        {
          foto.style.display = "none";
          icone.style.display = "block";
        };
      }
      document.getElementById("nome-usuario").textContent = cliente.username;
      document.getElementById("email").textContent = cliente.email;

      const lista = document.getElementById("historico-compras");
      cliente.compras.forEach(produto => {
        const li = document.createElement("li");
        li.textContent = produto.name + " Vol. " + produto.volume;
        lista.appendChild(li);
      });
    }

    document.getElementById("logout").addEventListener("click", () => {
      localStorage.removeItem("cliente");
      window.location.href = "/login";
    });
  </script>
</Layout>