---
import "../styles/footer.css";
---
<footer>
  <div>
    <h3>Contato</h3>
    <div class="contatos">
      <p>
        <img src="/icons/whatsapp.svg" alt="WhatsApp" class="icon" />
        <a href="https://wa.me/5599999999999">+55 (99) 99999-9999</a>
      </p>
      <p>
        <img src="/icons/email.svg" alt="Email" class="icon" />
        <a href="mailto:contato@muryomangas.com">contato@muryomangas.com</a>
      </p>
      <p>
        <img src="/icons/instagram.svg" alt="Instagram" class="icon" />
        <a href="https://instagram.com/muryomangas">@muryomangas</a>
      </p>
    </div>
  </div>

  <div>
    <p>&copy; 2026 Muryo Mangás - Todos os direitos reservados.</p>
  </div>
</footer>