---
import SearchBar from "../components/pesquisa.astro";
import "../styles/navbar.css";
---

<nav class="navbar">
  <div class="logo-area">
    <img src="../imagens/logo.png" alt="Logo da Muryo Mangás" class="logo"/>
    <h1>Muryo<br>Mangás</h1>
  </div>
  <ul id="menu-links"></ul>

  <div id="search-container">
    <SearchBar />
  </div>
</nav>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const cliente = localStorage.getItem("cliente");
    const admin = localStorage.getItem("admin");
    const menu = document.getElementById("menu-links");
    const searchContainer = document.getElementById("search-container");

    const paginaAtual = window.location.pathname;

    if (paginaAtual === "/login") {
      searchContainer.style.display = "none";
    }

    menu.innerHTML = "";

    if (cliente) {
      menu.innerHTML = `
        <li><a href="/">Início</a></li>
        <li><a href="/carrinho">Carrinho</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/sobreNos">Sobre Nós</a></li>
      `;

      searchContainer.style.display = "block";

    } else if (admin) {
      menu.innerHTML = `
        <li><a href="/admin">Administração</a></li>
        <li><button id="logout">Logout</button></li>
      `;

      searchContainer.style.display = "none";
    }

    document.getElementById("logout")?.addEventListener("click", () => {
      localStorage.removeItem("cliente");
      localStorage.removeItem("admin");
      window.location.href = "/login";
    });
  });
</script>