---
import SearchBar from "../components/pesquisa.astro";
---

<nav>
    <img src="/public/images/logo.png" alt="Logo da Muryo Mangás"/>
    <ul>
        <li><a href = '../pages/index.astro'>Produtos</a></li>
        <li><a href = '../pages/carrinho.astro'>Carrinho</a></li>
        <li><a href = '../pages/perfil.astro'>Perfil</a></li>
        <li><a href = '../pages/sobreNos.astro'>Sobre Nós</a></li>
    </ul>
</nav>