---
const { title } = Astro.props;
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>

    <main>
      <slot />
    </main>

    <Footer />

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const cliente = localStorage.getItem("cliente");

        if (!cliente && !admin && window.location.pathname !== "/login") {
            window.location.href = "/login";
        }
      });
    </script>
  </body>
</html>